<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>

{{>navbar}}
{{!-- Hero section start --}}
<div class="container-fluid mt-6">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center algin-item-start flex-column">
          <h1>WE WILL HELP YOU TO</h1>
          <h1>GROW YOUR BUSINESS</h1>
          <p>We are the Team of <span class="bold-style">Professional Developer</span></p>
          <button class="btn-style btn-primary">Read More</button>
        </div>
        {{!-- right side --}}
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
          <figure>
            <img class="heroimage" src="/images/img2.png" alt="herosection">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Hero section End --}}

{{!-- Service section start --}}
{{>services}}
{{!-- service section End --}}
{{!-- About section start --}}
{{>about}}
{{!-- About section End --}}
{{!-- contact section start --}}
{{>contact}}
{{!-- contact section End --}}
{{>footer}}
<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
<script>
const navbar = document.querySelector('.navbar');
window.onscroll = () => {
    if (window.scrollY > 200) {
        navbar.classList.add('nav-active');
    } else {
        navbar.classList.remove('nav-active');
    }
};
</script>

</body>
</html>