<footer class="text-center">
  <div class="container">
    <!-- Section: Social media -->
    <div class="social-media">
      <a href="https://www.facebook.com" class="social-icon"  target=”_blank”>
              <i class="fab fa-facebook"></i>
            </a>

            <a href="https://twitter.com/home" class="social-icon"  target=”_blank”>
              <i class="fab fa-twitter"></i>
            </a>

            <a href="https://mail.google.com" class="social-icon"  target=”_blank”>
              <i class="fab fa-google"></i>
            </a>

            <a href="https://www.linkedin.com" class="social-icon"  target=”_blank”>
              <i class="fab fa-linkedin"></i>
            </a>

            <a href="https://github.com/yadav27nitish" class="social-icon"  target=”_blank”>
              <i class="fab fa-github"></i>
            </a>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    © 2022 Copyright:
    <a class="copyright" href="https://www.linkedin.com/feed/">nkworld.co.in</a>
  </div>
  <!-- Copyright -->
</footer>