@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Nunito:wght@300&display=swap');

*:focus {
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html{
    font-size: 65%;
    /* scroll-behavior: smooth; */
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #13151bf6 !important;
    /* overflow-x: hidden;  */
    /* overflow-y: auto; */
}

/* Login and SignUP */

.container{
    position: relative;
    overflow: hidden;
  }

  .forms-container{
    width: 50%;
    margin: auto;
    padding: 3px;
    overflow: hidden;
  }

  .button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    margin: 15px auto;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 10px 1px hotpink;
  }

  .toggle-btn{
  padding: 15px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: #0a4d46;;
  outline: none !important;
  position: relative;
  font-size: 19px;
  font-weight: bold;
  }

  .toggle-btn .up{
    color: rgb(218, 73, 145)
}


  #btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 135px;
    height: 100%;
    border-radius: 30px;
    background: linear-gradient(to right,#31ceb9,hotpink);
    /* background: linear-gradient(to right,#9af1e6,#06f5d5); */
  }

.btn_solid{
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #20dbc2;
    color: #0a4d46;
    margin: 10px,0;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s;
}

.btn_solid:hover{
    background-color: #0a4d46;
    color: #12d8c4;
}


  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .tittle{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    border-radius: 55px;
    /* display: grid; */
    grid-template-columns: 15%, 85%;
    padding: 0, 0.4rem;
    position: relative;
  }

  .input-field i{
    padding-left: 30px;
    padding-right: 10px;
    text-align: left;
    line-height: 55px;
    color: #0a4d46;
    font-size: 1.5rem;
  }

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: bold;
    font-size: 1.5rem;
    color: #0a4d46;
}
.check{
  padding-bottom: 10px;
  color: #20dbc2;
  font-size: 1.7rem;
}
  
.social-text{
      padding: 1rem;
      margin-top: 1rem;
      color: #fff;
      font-size: 1.7rem;
}
  
.social-media-icon{
      display: flex;
      justify-content: center;
      margin-top: -1rem;
      margin-bottom: 1rem;
}
  
.option{
    padding: 2.5rem;
    color: #FFF;
    font-size: 15px;
}

  .option a{
    text-decoration: none!important;
    color: hotpink;
  }

  .option a:hover{
    text-decoration: none!important;
    color: #20dbc2;
  }


/* Nav bar */
.navbar{
  padding: 0 5rem 0 5rem !important;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color:#242f3b;
  box-shadow: 5px -1px 12px -5px grey;
}

.navbar li{
    margin: 1rem;
}
.navbar a{
    color: #20dbc2;
    font-size: 1.8rem;
}

.navbar-brand .nk{
  display: initial;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-family: "Poiret One", cursive;
  color: #20dbc2;
  padding: 0;
}

.navbar-brand .fas{
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.navbar a:hover{
    background-color: var(--maim-color);
    color: #20dbc2;
}

/* Main Content */
.container-fluid{
padding-top: 62px;
}

.heroimage {
    /* display: block; */
    width: 400px;
    height: 400px 
}


.aboutimage {
  width: 400px;
  height: 400px 
}

.hero-text h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
  letter-spacing: 1px;
  color: #f0f0f0ef;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
  font-weight: bold;
  color: hotpink;
}

.hero-text p{
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #f0f0f0;
}

.btn-style {
  margin-top: 1.7rem;
  padding: 12px 25px;
  width: 150px;
  border: none;
  color: #0a4d46 !important;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #20dbc2 !important;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.btn-style:hover{
  background: #3a8d82 !important;
  color: #fff !important;
}

.hero-text p span {
  font-weight: bold;
  color: #20dbc2;
}

/* About US */
.about-style {
  margin: 10rem 0;
  color: #fff;
}

.contact-style .main-heading,
.about-style .main-heading,
.service-style .main-heading,
.contact-style .main-heading {
  font-size: 4rem;
  color: #20dbc2;
  letter-spacing: 1px;
  font-weight: bold;
}

.contact-style .sub-heading,
.about-style .sub-heading,
.service-style .sub-heading,
.contact-style .sub-heading {
  font-size: 3rem;
  letter-spacing: 3px;
  line-height: 2;
  color: hotpink;
  font-weight: 500;
}

/* Our Services */
.service-style {
  margin-bottom: 10rem;
}

.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 30px;
  min-height: 198px;
  text-align: center;
  color: hotpink;
  border-radius: 10px;
  background: #242f3b;
  transition: all 0.4s ease-in-out;
  /* box-shadow: 0 0 15px 0 rgb(173, 86, 130); */
  box-shadow: 0 0 15px 0 #31ceb9;
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services h4 {
  font-size: 2.5rem;
  font-weight: bold;
}

.our-services p {
  font-size: 1.7rem;
  color: #17e6d1;
  /* font-weight: bold; */
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #d6225e 0%, #b84d2c 50%);
}

.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #238991 0%, #230e5c 50%);
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #3920c9 0%, #278de6 50%);
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #e25a05 0%, #ca8008 50%);
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #7927ec 0%, #3330db 50%);
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #10b483 0%, #0ad160 50%);
}

/* Contact Us */
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


/* Contact Us */
.input-field-contact{
  height: 55px;
  background-color: #f0f0f0;
  margin: 0 54px 15px 0;
  border-radius: 5px;
  grid-template-columns: 15%, 85%;
  padding: 0, 0.4rem;
  position: relative;
}

.input-field-contact i{
  padding-left: 30px;
  padding-right: 10px;
  text-align: left;
  line-height: 55px;
  color: #0a4d46;
  font-size: 1.5rem;
}

.input-field-contact input{
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #0a4d46;
}

.form-control{
  font-size: 1.5rem;
  color: #0a4d46;
}

/* Footer */
footer{
    width: 100%;
    margin-top: auto;
    background-color: #1F2833;
    margin-top: 2rem;
}

footer .container{
    height: 4.5rem;
    font-size: 1.2rem;
    padding-top: 1.15rem;
    margin-top: 1.5rem;
}


footer .text-center{
    font-size: 1.5rem;
    color: #fff;
}

footer .text-center{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

footer .text-center .copyright{
    text-decoration: none!important;
    color: #fff;

}

footer .text-center .copyright:hover{
    color: #20dbc2;
}

.social-icon{
    margin: 6px;
    padding: 1rem;
    border: solid;
    border-width: 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
    color:#fff;
    border-radius: 60%;
    transition: all 0.5s;
    display:inline;
    font-size:12px;
}


.social-icon:hover{
    color: #20dbc2;
    border-color: #00bfa6;
}
